body {
    background-color: #051231;
}

canvas {
    background-color: #E6E6FA;
}

#container {
    width: 430px;
    margin: 0 auto;
}

.canvas1,
.info {
    float: left;
}

.info {
    margin-left: 10px;
}

.clear-both {
    clear: both;
}

.score {
    color: #E6E6FA;
    font-size: 30px;
    font-weight: 900;
    font-family: Helvetica, Arial;
    margin: 10px 0;
    word-wrap: break-word;
    width: 80px;
}

.high-score {
    width: auto;
}
